# Python
__pycache__/
*.pyc
*.pyd
*.pyo
venv/              
.env

# PyCharm specific files
.idea/             
*.iml
*.iws
*.ipr

# Data files (IMPORTANT: Do NOT commit large datasets or processed data to Git)
data/                 
*.csv                 
*.json
*.parquet
*.txt
*.tsv

# Results and logs
results/             
logs/                
*.log
*.err
*.out

# Spark specific files (these are outputs from Spark, regardless of language used for shell)
spark-events/         
.spark_history       
_SUCCESS              
*.crc                
.part-* 

# Operating System Files
.DS_Store           
Thumbs.db             
ehthumbs.db           
Desktop.ini          
